
header {
    text-align: center;
}

h1 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  #podiumList {
      list-style: none;
  }

  
  
  .firstplacepodium {
      margin-right: auto;
      margin-left: auto;
      width: fit-content;
  }

  .secondAndThird {
      width: fit-content;
      margin-right: auto;
      margin-left: auto;
  }

  .secondplacepodium {
    width: fit-content;
    display: inline-block;
    text-align: center;
    width: 300px;
  }

  .thirdplacepodium {
    width: fit-content;
    display: inline-block;
    text-align: center;
    width: 300px;
  }

  .first {
    background-color: rgb(235, 200, 84);
    font-size: 20px;
    height: 50px;
    text-align: center;
    width: 200px;
  }

  .second {
    background-color: rgb(219, 219, 219);
    font-size: 20px;
    height: 50px;
    text-align: center;
    width: 300px;
  }

  .third {
    background-color: rgb(170, 142, 106);
    font-size: 20px;
    height: 50px;
    text-align: center;
    width: 300px;
  }

  .divspremiacao {
      margin-right: auto;
      margin-left: auto;
      width: 700px;
      text-align: center;
  }

  .PrizeList {
      margin-left: auto;
      margin-right: auto;
      list-style: none;
      width: 800px;
  }

  .firstprize1, .firstprize2 {
      width: fit-content;
      display: inline-block;
  }

  .secondprize1, .secondprize2 {
    width: fit-content;
    display: inline-block;
}

.thirdprize1, .thirdprize2 {
    width: fit-content;
    display: inline-block;
}

.testedivsprize {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
